body {background: #111420; border: 1px solid #181618; color: #F3F3FE;}
h1, h2, h3, h4, h5, h6 {color: #fff; font-weight: bold}
h1 {font-size: 36px}
.bg-textbox {background: #141E33; border: 1px solid #181618}
.lead {font-size: 16px}
.nav-bg {background: #141E33}
.nav-link {margin-left: 10px}




